.container{
    display:grid;
    margin-top: 40px;
    margin-left: 40px;
    grid-template-columns: 150px 200px;
    grid-template-rows: 450px;
    grid-template-areas: "side main-content";
    grid-gap: 20px;
}
.side{
    background-color: black;
    grid-area: side;
}
.main-content{
    background-color: black;
    grid-area: main-content;
}