.container{
    display:grid;
    margin-top: 40px;
    margin-left: 40px;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 100px 400px;
    grid-template-areas: "nav-left nav-left nav-right"
                         "col-1 col-2 col-3";
    grid-gap: 20px;
}
.nav-left{
    background-color: black;
    grid-area: nav-left; 
}
.nav-right{
    background-color: black;
    grid-area: nav-right; 
}
.col-1{
    background-color: black;
    grid-area: col-1;
}

.col-2{
    background-color: black;
    grid-area: col-2;
}
.col-3{
    background-color: black;
    grid-area: col-3;
}