.container{
    display:grid;
    margin-top: 40px;
    margin-left: 40px;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 100px 280px;
    grid-template-areas: "side nav nav"
                         "side col-1 col-2";
    grid-gap: 20px;
}
.side{
    background-color: black;
    grid-area: side; 
}
nav{
    background-color: black;
    grid-area: nav; 
}
.col-1{
    background-color: black;
    grid-area: col-1;
}

.col-2{
    background-color: black;
    grid-area: col-2;
}
